.about {
    margin: 2rem auto; /* Center horizontally and add some margin */
    width: 88%; /* Initial width */
    height: auto;
    padding: 1.5rem; /* Increase padding */
    background: linear-gradient(
      to top,
      rgba(241, 247, 252, 0.75),
      rgba(241, 247, 252, 0.75)
    ), radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(133, 155, 182, 0.5) 45%,
      rgba(255, 255, 255, 0.2) 100%
    );
    border: 1px solid black;
    border-radius: 0.9375rem; /* 15px */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'UncutSans', Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    transition: all 0.2s ease;
    z-index: 10; /* Ensure it is above other content */
    font-size: 1.3rem;
    position: relative; /* Allow it to expand outwards */
}

.description {
    margin-top: 2rem; /* Add margin from the section label */
}

.about p {
  font-size: 1.2rem; /* 16px */
  margin: 0.5rem 0; /* 8px 0 */
}

.sectionLabel {
  position: absolute;
  top: 0.5rem; /* Adjust as needed */
  left: 0.5rem; /* Adjust as needed */
  font-weight: bold;
  font-family: 'UncutSans', Arial, sans-serif;
  color: #000;
  opacity: 0.5; /* Adjust opacity to 70% */
}
