@font-face {
  font-family: 'UncutSans';
  src: url('/fonts/UncutSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UncutSans';
  src: url('/fonts/UncutSans-Semibold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body, html {
  margin: 0;
  font-family: 'UncutSans', Arial, sans-serif;
  overflow-x: hidden; /* Prevents side scrolling */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}
